#breadcrumb {
  list-style: none;
  display: flex;
  gap: 8px;
  padding: 0;
}

#breadcrumb li {
  display: flex;
  align-items: center;
}

#breadcrumb li:not(:last-child)::after {
  content: " / ";
  margin-left: 8px;
}

a {
  text-decoration: none;
  color: rgb(2, 86, 44);
}
