body {
  background-color: #000000;
}
form {
  margin-top: 150px;
}
fieldset {
  font-size: 27px;
  color: rgb(193, 183, 0);
  box-shadow: 0px 0px 59px currentcolor;
  border: 5px solid currentcolor;
  width: 500px;
  height: 204px;
  padding: 45px;
  text-align: center;
  margin: auto;
  border-radius: 16px;
}
button {
  margin: 10px;
  padding: 35px;
  font-size: 22px;
  border-radius: 84px;
  color: rgb(2, 172, 62);
  box-shadow: 12px 26px 92px currentcolor;
  border: 7px solid currentcolor;
  cursor: pointer;
  background-color: rgb(0, 30, 10);
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
